@use "var";

body {
  background-color: var.$stone-100;
}

main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 8;

  h1 {
    font-family: var.$ff-young;
    font-size: 2.5rem;
  }

  p {
    font-family: var.$ff-outfit;
    font-size: var.$fs-base;
  }

  .panel {
    grid-column: 2 / span 6;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 5rem 10rem;

    .head {
      img {
        border-radius: 0.5rem;
      }
    }
  }
  hr {
    border: none;
    border-top: 1px solid #999; /* Solid line */
    margin: 20px 0; /* Spacing around the line */
  }
}
